*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: white; }

.container {
  display: grid;
  grid-template-rows: repeat(2, 100vh); }

.row-1 {
  display: grid;
  grid-template-rows: 12.8vh 87.2vh;
  grid-template-columns: 26rem 1fr; }
  @media only screen and (max-width: 1024px) {
    .row-1 {
      grid-template-rows: 12.8vh 87.2vh;
      grid-template-columns: 1fr;
      font-size: 50%; } }
  @media only screen and (max-width: 768px) {
    .row-1 {
      grid-template-rows: 6vh 40vh;
      grid-template-columns: 1fr;
      font-size: 50%; } }
  @media only screen and (max-width: 320px) {
    .row-1 {
      grid-template-rows: 12.8vh 87.2vh;
      grid-template-columns: 1fr; } }

.row-2 {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 26rem 1fr; }
  @media only screen and (max-width: 1024px) {
    .row-2 {
      grid-template-rows: 100vh;
      grid-template-columns: 1fr;
      font-size: 50%; } }
  @media only screen and (max-width: 768px) {
    .row-2 {
      grid-template-rows: 54vh;
      grid-template-columns: 1fr;
      font-size: 50%; } }
  @media only screen and (max-width: 320px) {
    .row-2 {
      grid-template-rows: 100%;
      grid-template-columns: 1fr; } }

@font-face {
  font-family: 'Droid Sans Mono';
  src: url("../fonts/DroidSansMono.ttf"); }

#home-id.home {
  transform: translateX(-100%);
  transition: transform 1s; }
  #home-id.home .dots {
    margin-left: 90%;
    transform: translateY(-50%); }
    #home-id.home .dots .dot {
      height: 8px;
      width: 8px;
      margin: 12px 20px;
      background-color: #fff;
      border-radius: 50%;
      display: block; }
    #home-id.home .dots .active {
      transform: scale(2);
      border: 1px solid #fff;
      background: transparent; }
  @media only screen and (max-width: 768px) {
    #home-id.home .dots {
      margin-left: 0;
      margin-top: 8rem;
      transform: translateY(0); }
      #home-id.home .dots .dot {
        height: 7px;
        width: 7px;
        margin: 10px 8px;
        display: inline-block; } }
  @media only screen and (max-width: 400px) {
    #home-id.home .dots {
      margin-top: 5rem; }
      #home-id.home .dots .dot {
        height: 4px;
        width: 4px;
        margin: 5px 4px;
        display: inline-block; } }

#home-id.seen {
  transform: translateX(0); }

.sidebar {
  line-height: 1.6;
  background-color: transparent;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  width: 26rem;
  font-size: 1.2rem;
  z-index: 100; }
  .sidebar__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2.1rem;
    padding-top: 2.1rem; }
    .sidebar__container .item {
      margin: 10% 0; }
    .sidebar__container ul {
      list-style: none; }
      .sidebar__container ul li a {
        text-decoration: none;
        color: white; }
    .sidebar__container .footer {
      font-size: 1rem; }
      .sidebar__container .footer a {
        text-decoration: none;
        color: white; }
      .sidebar__container .footer label {
        margin-top: 30%; }
      .sidebar__container .footer .newsletter {
        position: relative; }
      .sidebar__container .footer form select {
        color: #999999;
        font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        border: none;
        outline: none; }
      .sidebar__container .footer form input[type="text"] {
        position: relative;
        border: 1px solid #CCCCCC;
        background-color: transparent;
        color: #CCCCCC;
        font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
        padding: .25rem 1rem; }
      .sidebar__container .footer form button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0 .5rem;
        font-size: 1rem;
        font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
        cursor: pointer;
        background-color: #CCCCCC;
        border: none;
        outline: none; }

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none; } }

.sidebar-black {
  line-height: 1.6;
  background-color: transparent;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  width: 26rem;
  font-size: 1.2rem;
  z-index: 100;
  color: black; }
  .sidebar-black__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2.1rem;
    padding-top: 2.1rem; }
    .sidebar-black__container .item {
      margin: 10% 0; }
    .sidebar-black__container ul {
      list-style: none; }
      .sidebar-black__container ul li a {
        text-decoration: none;
        color: #999999; }
    .sidebar-black__container .footer {
      font-size: 1rem; }
      .sidebar-black__container .footer a {
        text-decoration: none;
        color: black; }
      .sidebar-black__container .footer label {
        margin-top: 30%; }
      .sidebar-black__container .footer .newsletter {
        position: relative; }
      .sidebar-black__container .footer form select {
        color: #999999;
        font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        border: none;
        outline: none; }
      .sidebar-black__container .footer form input[type="text"] {
        position: relative;
        border: 1px solid #CCCCCC;
        background-color: transparent;
        color: #999999;
        font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
        padding: .25rem 1rem; }
      .sidebar-black__container .footer form button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0 .5rem;
        font-size: 1rem;
        font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
        cursor: pointer;
        background-color: #CCCCCC;
        border: none;
        outline: none; }

@media only screen and (max-width: 1024px) {
  .sidebar-black {
    display: none; } }

.header {
  background-color: transparent;
  grid-row: 1 / 2;
  grid-column: 2/ -1;
  position: relative;
  z-index: 10; }
  .header .sticky-mobile-logo {
    display: none; }
  .header__black {
    display: none; }
  .header__logo {
    position: absolute;
    display: none; }
    .header__logo a .header__logo--logo {
      height: 2rem; }
  .header__buttons {
    position: absolute;
    right: 4rem;
    top: 4rem; }
    .header__buttons a {
      text-decoration: none;
      margin-left: 1rem; }
  @media only screen and (max-width: 1024px) {
    .header {
      grid-column: 1/ -1; }
      .header__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 4rem;
        margin-left: 4rem; }
        .header__logo a:last-child {
          margin-left: 2rem; } }
  @media only screen and (max-width: 400px) {
    .header__logo {
      margin-top: 3rem;
      margin-left: 3rem; }
      .header__logo a img {
        height: 1rem; }
      .header__logo a .header__logo--logo {
        height: 1.5rem; }
    .header__buttons {
      right: 3rem;
      top: 3rem; }
      .header__buttons a img {
        width: 2rem; } }
  @media only screen and (max-width: 320px) {
    .header__logo {
      margin-left: 2rem;
      margin-top: 2.25rem; }
      .header__logo--mobile {
        height: 1rem; }
      .header__logo a .header__logo--logo {
        display: none;
        height: 1.3rem; }
      .header__logo a:first-child::after {
        content: url("../icons/Icon search_small.svg");
        position: absolute;
        top: -.45rem;
        left: 2rem;
        width: 50%; }
    .header__buttons {
      position: absolute;
      right: 1.5rem;
      top: 1.7rem; }
      .header__buttons a {
        text-decoration: none;
        margin-left: 0; }
        .header__buttons a img {
          height: 2rem; }
      .header__buttons a:first-child {
        display: none; } }

@media only screen and (max-width: 1024px) {
  .sticky {
    position: fixed;
    width: 100%;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.5); }
    .sticky .header__white {
      display: none; }
    .sticky .header__black {
      display: block;
      margin-top: -1rem; }
      .sticky .header__black .header__buttons {
        margin-top: -1rem; } }

@media only screen and (max-width: 320px) {
  .sticky {
    height: 3.6rem;
    background-color: white; }
    .sticky .header__black .sticky-mobile-logo {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .sticky .header__black .sticky-mobile-logo img {
        height: 1.5rem; }
    .sticky .header__black a:first-child::after {
      content: url("../icons/Icon search_Black_small.svg");
      position: absolute;
      top: -.45rem;
      left: 2rem;
      width: 50%; } }

.home {
  background-image: linear-gradient(rgba(51, 51, 51, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hugo-boss-black-ss-2012-mark-vanderloo-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home .mobile-logo {
    display: none; }
  .home h1, .home h2 {
    font-weight: 100;
    text-align: center;
    width: 65%; }
  .home h1 {
    font-size: 3.8rem;
    margin-bottom: 2rem; }
  .home h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem; }
  .home a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white; }
  .home .next-section {
    position: absolute;
    bottom: 5rem; }
  @media only screen and (max-width: 1024px) {
    .home h1, .home h2 {
      width: 90%; } }
  @media only screen and (max-width: 768px) {
    .home {
      height: 46vh; }
      .home h1, .home h2 {
        width: 90%; }
      .home h1 {
        font-size: 3.2rem; }
      .home h2 {
        font-size: 1.6rem; } }
  @media only screen and (max-width: 400px) {
    .home h1 {
      font-size: 2.8rem; }
    .home h2 {
      font-size: 1.2rem; }
    .home a {
      font-size: 1rem; } }
  @media only screen and (max-width: 320px) {
    .home {
      height: 100vh; }
      .home h2 {
        display: none; }
      .home .mobile-logo {
        display: inline-block;
        position: absolute;
        top: 2rem; }
        .home .mobile-logo img {
          height: 1.5rem; } }

#ham-nav.sidebar-fullscreen {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  transform: translateX(-100%); }
  #ham-nav.sidebar-fullscreen .hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    #ham-nav.sidebar-fullscreen .hamburger-menu__left {
      margin-left: 4rem; }
    #ham-nav.sidebar-fullscreen .hamburger-menu__right {
      margin-top: .5rem;
      margin-right: 4rem; }
    #ham-nav.sidebar-fullscreen .hamburger-menu a {
      text-decoration: none; }
  #ham-nav.sidebar-fullscreen .special-menu {
    display: none; }
  #ham-nav.sidebar-fullscreen .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #ham-nav.sidebar-fullscreen .menu ul li {
      list-style: none; }
      #ham-nav.sidebar-fullscreen .menu ul li a {
        text-decoration: none;
        color: white; }
    #ham-nav.sidebar-fullscreen .menu ul li:nth-child(1) {
      margin-bottom: 2rem; }
    #ham-nav.sidebar-fullscreen .menu ul li:nth-child(6) {
      margin-bottom: 2rem; }
    #ham-nav.sidebar-fullscreen .menu ul li:nth-child(8) {
      margin-bottom: 2rem; }
  #ham-nav.sidebar-fullscreen .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; }
    #ham-nav.sidebar-fullscreen .footer label {
      margin-top: 2rem; }
    #ham-nav.sidebar-fullscreen .footer a {
      text-decoration: none;
      color: white; }
    #ham-nav.sidebar-fullscreen .footer .newsletter {
      margin-top: 5px;
      position: relative; }
    #ham-nav.sidebar-fullscreen .footer form select {
      color: #999999;
      font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
      text-transform: uppercase;
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      border: none;
      outline: none; }
    #ham-nav.sidebar-fullscreen .footer form input[type="text"] {
      position: relative;
      border: 1px solid #CCCCCC;
      background-color: transparent;
      color: #CCCCCC;
      font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
      padding: .25rem 1rem; }
    #ham-nav.sidebar-fullscreen .footer form button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0 .5rem;
      font-size: 1rem;
      font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
      cursor: pointer;
      background-color: #CCCCCC;
      border: none;
      outline: none; }
    #ham-nav.sidebar-fullscreen .footer .social {
      margin-top: 2rem; }
  @media only screen and (max-width: 400px) {
    #ham-nav.sidebar-fullscreen {
      font-size: 1.6rem; }
      #ham-nav.sidebar-fullscreen .hamburger-menu__left a img {
        height: 1.6rem; }
      #ham-nav.sidebar-fullscreen .hamburger-menu__right {
        margin-top: 0; } }
  @media only screen and (max-width: 320px) {
    #ham-nav.sidebar-fullscreen .hamburger-menu {
      margin-top: -2rem; }
      #ham-nav.sidebar-fullscreen .hamburger-menu__left a img {
        height: 1.6rem; }
      #ham-nav.sidebar-fullscreen .hamburger-menu__left a:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 1.9rem;
        transform: translate(-50%, 0); }
      #ham-nav.sidebar-fullscreen .hamburger-menu__right {
        margin-top: 0; }
        #ham-nav.sidebar-fullscreen .hamburger-menu__right a:not(:first-child) {
          display: none; }
    #ham-nav.sidebar-fullscreen .special-menu {
      position: absolute;
      margin-top: 1.7rem;
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center; }
      #ham-nav.sidebar-fullscreen .special-menu a {
        display: flex;
        justify-content: center;
        background-color: gray;
        height: 10.6rem;
        width: 100%;
        margin: 1px; }
    #ham-nav.sidebar-fullscreen .menu {
      margin-top: 11.5rem; } }

.content {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  margin: 3rem 3rem 3rem 0;
  display: grid;
  grid-gap: 3rem;
  grid-template-rows: .63fr .63fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: hidden;
  overflow-y: hidden; }
  .content .box {
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden; }
    .content .box h2 {
      font-size: 2.4rem;
      font-weight: 100;
      margin-bottom: 1.5rem; }
    .content .box a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 1rem; }
    .content .box .block_1 {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(-10%, -50%); }
      .content .box .block_1 h2 {
        font-size: 2.8rem; }
      .content .box .block_1 a {
        font-size: 1.2rem; }
    .content .box .block_2 {
      position: absolute;
      top: 50%;
      right: 20%;
      transform: translate(0, -50%); }
    .content .box .block_3 {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(0, -50%); }
    .content .box .block_4 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0); }
    .content .box .block_5 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0); }
    .content .box .block_6 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0); }
  .content__block {
    width: 90%;
    text-align: center; }
  .content__card-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 8;
    background-image: linear-gradient(rgba(153, 153, 153, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo-1470309864661-68328b2cd0a5.jpg"); }
  .content__card-2 {
    grid-row: 1 / 2;
    grid-column: 8 / -1;
    background-image: linear-gradient(rgba(200, 169, 133, 0.7), rgba(0, 0, 0, 0.7)), url("../img/men-131523.jpg"); }
  .content__card-3 {
    grid-row: 2 / 3;
    grid-column: 8 / -1;
    background-image: linear-gradient(rgba(240, 227, 204, 0.7), rgba(0, 0, 0, 0.7)), url("../img/latest-autumn-fashion-trends-for-women-wallpaper-preview.jpg"); }
  .content__card-4 {
    grid-row: 3 / 3;
    grid-column: 1 / 5;
    background-image: linear-gradient(rgba(204, 204, 204, 0.7), rgba(0, 0, 0, 0.7)), url("../img/e5e54018daa8ba88d7f96fc942cd333f.jpg"); }
  .content__card-5 {
    grid-row: 3 / 3;
    grid-column: 5 / 9;
    background-image: linear-gradient(rgba(242, 242, 242, 0.7), rgba(0, 0, 0, 0.7)), url("../img/3907c41616c1bdec6a582573b1915b86.jpg"); }
  .content__card-6 {
    grid-row: 3 / 3;
    grid-column: 9 / -1;
    background-image: linear-gradient(rgba(204, 204, 204, 0.7), rgba(0, 0, 0, 0.7)), url("../img/people-man-travel-fashion.jpg"); }
  @media only screen and (max-width: 1024px) {
    .content {
      grid-column: 1 / -1;
      margin-left: 3rem;
      margin-top: 8rem;
      padding-bottom: 3rem;
      border-bottom: 1.5px solid #C8A985; } }
  @media only screen and (max-width: 768px) {
    .content {
      grid-gap: .2rem;
      margin: .2rem;
      padding-bottom: 0;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      border-bottom: 1.5px solid #C8A985; }
      .content .box h2 {
        font-size: 2rem; }
      .content .box .block_1 h2 {
        font-size: 2.4rem; } }
  @media only screen and (max-width: 400px) {
    .content .box h2 {
      font-size: 1.6rem; }
    .content .box .block_1 h2 {
      font-size: 2rem; }
    .content .box a {
      font-size: .9rem; } }
  @media only screen and (max-width: 320px) {
    .content {
      grid-template-rows: 23rem repeat(2, 15.2rem) repeat(3, 30rem);
      grid-template-columns: 1fr; }
      .content__card-1 {
        grid-row: 1 / 2;
        grid-column: 1 / -1; }
      .content__card-2 {
        grid-row: 2 / 3;
        grid-column: 1 / -1; }
      .content__card-3 {
        grid-row: 3 / 4;
        grid-column: 1 / -1; }
      .content__card-4 {
        grid-row: 4 / 5;
        grid-column: 1 / -1; }
      .content__card-5 {
        grid-row: 5 / 6;
        grid-column: 1 / -1; }
      .content__card-6 {
        grid-row: 6 / 7;
        grid-column: 1 / -1; } }

.icons-navbar:link img {
  transition: transform 0.2s; }

.icons-navbar:hover img {
  transform: scale(1.5); }

.icons-navbar:focus {
  outline: none; }

.icons-sidebar:link img {
  transition: all 0.2s; }

.icons-sidebar:hover img {
  transform: translateY(-3px); }

.icons-sidebar:active img {
  border: none;
  transform: translateY(-1px); }

.icons-sidebar:focus {
  outline: none; }

.sidebar-items li a:link {
  transition: all 0.2s; }

.sidebar-items li a:hover {
  color: #C8A985;
  font-size: 2rem; }

.sidebar-items li a:active {
  transform: translateY(-1px); }

.sidebar-items li a:focus {
  outline: none; }

#ham-nav.sidebar-fullscreen {
  transition: transform .5s; }

#ham-nav.visible {
  transform: translateX(0); }

#ham-nav.cross-screen {
  transform: translateX(-100%); }
