*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Droid Sans Mono", "Roboto", "Open Sans", sans-serif;
  color: white; }

.container {
  display: grid;
  grid-template-rows: 12.8vh 87.2vh 100vh;
  grid-template-columns: 18% 1fr; }

@font-face {
  font-family: 'Droid Sans Mono';
  src: url("../fonts/DroidSansMono.ttf"); }

.sidebar {
  background-color: transparent;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  position: fixed;
  height: 100vh;
  width: 18%;
  font-size: 150%;
  z-index: 10; }
  .sidebar__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .sidebar__container ul {
      list-style: none; }
      .sidebar__container ul li a {
        text-decoration: none;
        color: #999999; }

.header {
  background-color: transparent;
  grid-row: 1 / 2;
  grid-column: 2/ -1;
  position: relative;
  z-index: 10; }
  .header__buttons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }

.home {
  background-image: url("../img/3907c41616c1bdec6a582573b1915b86.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  height: 100vh;
  width: 100%; }

.content {
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  margin: 3rem 3rem 3rem 0;
  display: grid;
  grid-gap: 3rem;
  grid-template-rows: .63fr .63fr 1fr;
  grid-template-columns: repeat(12, 1fr); }
  .content .box {
    color: white;
    background-size: cover;
    background-position: center;
    position: relative; }
    .content .box h2 {
      font-size: 28px;
      margin-bottom: 3rem; }
    .content .box a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 1.2rem; }
    .content .box .block_1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .content .box .block_2 {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%); }
    .content .box .block_3 {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0, -50%); }
    .content .box .block_4 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0); }
    .content .box .block_5 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0); }
    .content .box .block_6 {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0); }
  .content__block {
    width: 80%;
    text-align: center; }
  .content__card-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 8;
    background-image: linear-gradient(rgba(153, 153, 153, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo-1470309864661-68328b2cd0a5.jpg"); }
  .content__card-2 {
    grid-row: 1 / 2;
    grid-column: 8 / -1;
    background-image: linear-gradient(rgba(200, 169, 133, 0.7), rgba(0, 0, 0, 0.7)), url("../img/men-131523.jpg"); }
  .content__card-3 {
    grid-row: 2 / 3;
    grid-column: 8 / -1;
    background-image: linear-gradient(rgba(240, 227, 204, 0.7), rgba(0, 0, 0, 0.7)), url("../img/latest-autumn-fashion-trends-for-women-wallpaper-preview.jpg"); }
  .content__card-4 {
    grid-row: 3 / 3;
    grid-column: 1 / 5;
    background-image: linear-gradient(rgba(204, 204, 204, 0.7), rgba(0, 0, 0, 0.7)), url("../img/e5e54018daa8ba88d7f96fc942cd333f.jpg"); }
  .content__card-5 {
    grid-row: 3 / 3;
    grid-column: 5 / 9;
    background-image: linear-gradient(rgba(242, 242, 242, 0.7), rgba(0, 0, 0, 0.7)), url("../img/3907c41616c1bdec6a582573b1915b86.jpg"); }
  .content__card-6 {
    grid-row: 3 / 3;
    grid-column: 9 / -1;
    background-image: linear-gradient(rgba(204, 204, 204, 0.7), rgba(0, 0, 0, 0.7)), url("../img/people-man-travel-fashion.jpg"); }
