.icons-navbar{
    &:link{
        img{
            transition: transform 0.2s;
        }
    }
    &:hover{
        img{
            transform: scale(1.5);
        }
    }
    &:focus { outline: none; }
}

.icons-sidebar{
    &:link{
        img{
            transition: all 0.2s;
        }
    }

    &:hover{
        img{
            transform: translateY(-3px);
        }
    }

    &:active{
        img{
            border: none;
             transform: translateY(-1px);
        }
    }
    &:focus { outline: none; }
}

.sidebar-items{
    li{
        a{
            &:link{
                transition: all 0.2s;
            }

            &:hover{
                color: $color-brown;
                font-size: 2rem;
            }

            &:active{
                transform: translateY(-1px);
            }
            &:focus { outline: none; }
        }
    }
}


.btn-shop-now{
    cursor: pointer;
    transition: all .2s;

    &:hover {
        font-size: 2rem;
        //transform: translateY(-3px);
    }

    &:active{
       // transform: translateY(5px);
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

