// Shihab
.icons-navbar {
    &:link {
        img {
            transition: transform 0.2s;
        }
    }
    &:hover {
        img {
            transform: scale(1.5);
        }
    }
    &:focus { outline: none; }
}

.icons-sidebar {
    &:link {
        img {
            transition: all 0.2s;
        }
    }

    &:hover {
        img {
            transform: translateY(-3px);
        }
    }

    &:active {
        img {
            border: none;
             transform: translateY(-1px);
        }
    }
    &:focus { outline: none; }
}


.sidebar-items {
    li {
        a {
            &:link {
                transition: all 0.2s;
            }

            &:hover {
                color: $color-brown;
                font-size: 1.2em;
            }

            &:active {
                transform: translateY(-1px);
            }
            &:focus { outline: none; }
        }
    }
}



.btn-shop-now{
    cursor: pointer;
    transition: all .2s;
    
    &:link{
        padding: 1rem 4rem;
    }

    &:hover {
        transform: translateY(-3px);
        background-color: white;
        color: black;
    }
    &:active{
         transform: translateY(-1px);
     }
     &:focus {
         outline: none;
     }
}





/*-------grid image hover effect starts here-------*/
/*
.content{

    //overflow: hidden;

    &__card-1 {  
        background-size: 100%;
        // background-position: center;
         opacity: 0.8;
         transition: all 0.2s;
    }

    &__card-1:hover {
        opacity: 1;
        background-size: 150%;  
    }   
}
*/
/*-------grid image hover effect ends here-------*/




// Raisa
#ham-nav.sidebar-fullscreen {
    transition: transform .5s;
}

#ham-nav.visible {
    transform: translateX(0);
}

#ham-nav.cross-screen {
    transform: translateX(-100%);
}


