// COLOR VARIABLES
$color-landing: #333333;
$color-gray: #999999;
$color-gray-mid: #CCCCCC;
$color-gray-light: #F2F2F2;
$color-brown: #C8A985;
$color-brown-light: #F0E3CC;

$color-button: #979797;

$color-main-text: white;

$font-primary: 'Droid Sans Mono', 'Roboto', 'Open Sans', sans-serif;
$font-size-desktop: 62.5%; // 10px / 16px = 62.5% = 1rem
$font-size-tablet: 50%; // 8px / 16px = 50% = 1rem


// MEDIA QUERIES
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$pre-mobile: 400px;
$mobile: 320px;

// Special MEDIA QUERIES
$pre-mobile-h: 820px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: $font-size-desktop; // 10px / 16px = 62.5% = 1rem
    // line-height: 1.6;
}

body {
    font-family: $font-primary;
    font-weight: 100;
    text-transform: uppercase;
    color: $color-main-text;
}

.container {
    display: grid;
    grid-template-rows: repeat(2, 100vh);
}

.row-1 {
    display: grid;
    grid-template-rows: 12.8vh 87.2vh;
    grid-template-columns: 26rem 1fr;

    @media only screen and (max-width: $tablet-landscape) {
        grid-template-rows: 12.8vh 87.2vh;
        grid-template-columns: 1fr;

        font-size: $font-size-tablet;
    }

    @media only screen and (max-width: $tablet-portrait) {
        grid-template-rows: 6vh 40vh;
        grid-template-columns: 1fr;

        font-size: $font-size-tablet;
    }

    @media only screen and (max-width: $mobile) {
        grid-template-rows: 12.8vh 87.2vh;
        grid-template-columns: 1fr;
    }

    @media only screen and (max-height: 650px) {
        grid-template-rows: 12.8vh 87.2vh;
        grid-template-columns: 1fr;
    }

}

.row-2 {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 26rem 1fr;

    @media only screen and (max-width: $tablet-landscape) {
        grid-template-rows: 100vh;
        grid-template-columns: 1fr;

        font-size: $font-size-tablet;
    }

    @media only screen and (max-width: $tablet-portrait) {
        grid-template-rows: 54vh;
        grid-template-columns: 1fr;

        font-size: $font-size-tablet;
    }

    @media only screen and (max-width: $mobile) {
        grid-template-rows: 100%;
        grid-template-columns: 1fr;
    }

    @media only screen and (max-height: 650px) and (max-width: $tablet-landscape) {
        grid-template-rows: 100%;
        grid-template-columns: 1fr;
    }
}