// COLOR VARIABLES
$color-gray: #999999;
$color-gray-mid: #CCCCCC;
$color-gray-light: #F2F2F2;
$color-brown: #C8A985;
$color-brown-light: #F0E3CC;

$color-main-text: white;

$font-primary: 'Droid Sans Mono', 'Roboto', 'Open Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% = 1rem
}

body {
    font-family: $font-primary;
    color: $color-main-text;
}

.container {
    display: grid;
    grid-template-rows: 12.8vh 87.2vh 100vh;
    grid-template-columns: 18% 1fr;
}