.content {
    grid-row: 1 / 2;
    grid-column: 2 / -1;

    margin: 3rem 3rem 3rem 0;

    display: grid;
    grid-gap: 3rem;
    grid-template-rows: .63fr .63fr 1fr;
    grid-template-columns: repeat(12, 1fr);

    overflow-x: hidden;
    overflow-y: hidden;

    .box {
        color: white;
        background-size: cover;
        background-position: center;
        position: relative;

        overflow-x: hidden;
        overflow-y: hidden;
        
        h2 {
            font-size: 2.4rem;
            font-weight: 100;
            margin-bottom: 1.5rem;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $color-main-text;
            font-size: 1rem;
        }

        .block_1 {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-10%, -50%);

            h2 {
                font-size: 2.8rem;
            }

            a {
                font-size: 1.2rem;
            }
        }

        .block_2 {
            position: absolute;
            top: 50%;
            right: 20%;
            transform: translate(0, -50%);
            
        }

        .block_3 {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(0, -50%);
            
        }

        .block_4 {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            
        }

        .block_5 {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .block_6 {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
        }

    }

    &__block {
        width: 90%;
        text-align: center;
    }
    
    &__card-1 {
        grid-row: 1 / 3;
        grid-column: 1 / 8;

        background-image: linear-gradient(rgba($color-gray, .7), rgba(black, .7)), url('../img/photo-1470309864661-68328b2cd0a5.jpg');
        transition: all .5s;
    }
    &__card-1:hover {
        // background-size: 150%;
    }

    &__card-2 {
        grid-row: 1 / 2;
        grid-column: 8 / -1;

        background-image: linear-gradient(rgba($color-brown, .7), rgba(black, .7)), url('../img/men-131523.jpg');
        transition: all .5s;
    }
    &__card-2:hover {
        // background-size: 150%;
    }

    &__card-3 {
        grid-row: 2 / 3;
        grid-column: 8 / -1;

        background-image: linear-gradient(rgba($color-brown-light, .7), rgba(black, .7)), url('../img/latest-autumn-fashion-trends-for-women-wallpaper-preview.jpg');
        transition: all .5s;
    }
    &__card-3:hover {
        // background-size: 150%;
    }

    &__card-4 {
        grid-row: 3 / 3;
        grid-column: 1 / 5;

        background-image: linear-gradient(rgba($color-gray-mid, .7), rgba(black, .7)), url('../img/e5e54018daa8ba88d7f96fc942cd333f.jpg');
        transition: all .5s;
    }
    &__card-4:hover {
        // background-size: 150%;
    }

    &__card-5 {
        grid-row: 3 / 3;
        grid-column: 5 / 9;

        background-image: linear-gradient(rgba($color-gray-light, .7), rgba(black, .7)), url('../img/3907c41616c1bdec6a582573b1915b86.jpg');
        transition: all .5s;
    }
    &__card-5:hover {
        // background-size: 150%;
    }

    &__card-6 {
        grid-row: 3 / 3;
        grid-column: 9 / -1;

        background-image: linear-gradient(rgba($color-gray-mid, .7), rgba(black, .7)), url('../img/people-man-travel-fashion.jpg');
        transition: all .5s;
    }
    &__card-6:hover {
        // background-size: 150%;
    }


    @media only screen and (max-width: $tablet-landscape) {
        grid-column: 1 / -1;
        margin-left: 3rem;
        margin-top: 8rem;
        padding-bottom: 3rem;

        border-bottom: 1.5px solid #C8A985;
    }

    @media only screen and (max-width: $tablet-portrait) {
        grid-gap: .2rem;
        margin: .2rem;
        padding-bottom: 0;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        border-bottom: 1.5px solid #C8A985;

        .box h2 {
            font-size: 2rem;
        }

        .box .block_1 h2 {
            font-size: 2.4rem;
        }
    }

    @media only screen and (max-width: 500px) {
        
        .box h2 {
            font-size: 1.6rem;
        }

        .box {
            .block_1 h2 {
                font-size: 2rem;
            }

            .block_1 a {
                font-size: 1.2rem;
            }

            a {
                font-size: .9rem;
            }
        } 

    }

    @media only screen and (max-width: $pre-mobile) {
        
        .box {
            .block_2 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);   
            }
    
            .block_3 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);   
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        grid-template-rows: 23rem repeat(2, 15.2rem) repeat(3, 30rem);
        grid-template-columns: 1fr;

        .box .block_1 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
        }

        &__card-1 {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        }
    
        &__card-2 {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
        }
    
        &__card-3 {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
        }
    
        &__card-4 {
            grid-row: 4 / 5;
            grid-column: 1 / -1;
        }
    
        &__card-5 {
            grid-row: 5 / 6;
            grid-column: 1 / -1;
        }
    
        &__card-6 {
            grid-row: 6 / 7;
            grid-column: 1 / -1;
        }

        .box h2 {
            font-size: 2rem;
        }

        .box {
            .block_1 h2 {
                font-size: 2.4rem;
            }

            a {
                font-size: .9rem;
            }
        } 
    }

    @media only screen and (max-height: 650px) and (max-width: $tablet-landscape) {
        grid-template-rows: 23rem repeat(2, 15.2rem) repeat(3, 30rem);
        grid-template-columns: 1fr;

        // .box .block_1 {
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);   
        // }

        &__card-1 {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            z-index: 99;
        }
    
        &__card-2 {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
        }
    
        &__card-3 {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
        }
    
        &__card-4 {
            grid-row: 4 / 5;
            grid-column: 1 / -1;
        }
    
        &__card-5 {
            grid-row: 5 / 6;
            grid-column: 1 / -1;
        }
    
        &__card-6 {
            grid-row: 6 / 7;
            grid-column: 1 / -1;
        }

        // .box h2 {
        //     font-size: 2rem;
        // }

        // .box {
        //     .block_1 h2 {
        //         font-size: 2.4rem;
        //     }

        //     a {
        //         font-size: .9rem;
        //     }
        // } 
    }

    @media only screen and (max-height: 700px) {
        .box {
            h2 {
                margin-bottom: 1rem;
            }
        }
    }

    @media only screen and (max-height: 600px) {
        .box {
            h2 {
                margin-bottom: .5rem;
            }
        }
    }
}