.content {
    grid-row: 3 / -1;
    grid-column: 2 / -1;

    margin: 3rem 3rem 3rem 0;

    display: grid;
    grid-gap: 3rem;
    grid-template-rows: .63fr .63fr 1fr;
    grid-template-columns: repeat(12, 1fr);

    .box {
        color: white;
        background-size: cover;
        background-position: center;
        position: relative;
        h2 {
            font-size: 28px;
            margin-bottom: 3rem;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $color-main-text;
            font-size: 1.2rem;
        }

        .block_1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .block_2 {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(0, -50%);
            
        }

        .block_3 {
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(0, -50%);
            
        }

        .block_4 {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            
        }

        .block_5 {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .block_6 {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
        }

    }

    &__block {
        width: 80%;
        // padding: 1rem;
        text-align: center;
    }
    
    &__card-1 {
        grid-row: 1 / 3;
        grid-column: 1 / 8;

        background-image: linear-gradient(rgba($color-gray, .7), rgba(black, .7)), url('../img/photo-1470309864661-68328b2cd0a5.jpg');
    }

    &__card-2 {
        grid-row: 1 / 2;
        grid-column: 8 / -1;

        background-image: linear-gradient(rgba($color-brown, .7), rgba(black, .7)), url('../img/men-131523.jpg');
    }

    &__card-3 {
        grid-row: 2 / 3;
        grid-column: 8 / -1;

        background-image: linear-gradient(rgba($color-brown-light, .7), rgba(black, .7)), url('../img/latest-autumn-fashion-trends-for-women-wallpaper-preview.jpg');
    }

    &__card-4 {
        grid-row: 3 / 3;
        grid-column: 1 / 5;

        background-image: linear-gradient(rgba($color-gray-mid, .7), rgba(black, .7)), url('../img/e5e54018daa8ba88d7f96fc942cd333f.jpg');
    }

    &__card-5 {
        grid-row: 3 / 3;
        grid-column: 5 / 9;

        background-image: linear-gradient(rgba($color-gray-light, .7), rgba(black, .7)), url('../img/3907c41616c1bdec6a582573b1915b86.jpg');
    }

    &__card-6 {
        grid-row: 3 / 3;
        grid-column: 9 / -1;

        background-image: linear-gradient(rgba($color-gray-mid, .7), rgba(black, .7)), url('../img/people-man-travel-fashion.jpg');
    }
}