.header {
    background-color: transparent;
    grid-row: 1 / 2;
    grid-column: 2/ -1;
    position: relative;

    z-index: 10;

    &__logo {
        position: absolute;
        display: none;

        a {
            .header__logo--logo {
                height: 2rem;
            }
        }
    }

    &__buttons {

        position: absolute;
        right: 4rem;
        top: 5rem;
        transform: translate(0, 0);

        a {
            text-decoration: none;
            margin-left: 1rem;
            
        }
    }

    @media only screen and (max-width: $tablet-landscape) {
        grid-column: 1/ -1;

        &__logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-top: 5rem;
            margin-left: 4rem;
            
            a:last-child {
                margin-left: 2rem;
            }
        }
        
    }
}


@media only screen and (max-width: $tablet-landscape) {
    
    // Sticky
    .sticky {
        position: fixed;
        width: 100%;
        height: 10rem;
        background-color: rgba(255, 255, 255, 0.5);

        .header__white {
            display: none;
        }

        .header__black {
            margin-top: -1rem;

            .header__buttons {
                margin-top: -1rem;
            }
        }

    }
}