.header {
    background-color: transparent;
    grid-row: 1 / 2;
    grid-column: 2/ -1;
    position: relative;

    z-index: 10;

    .sticky-mobile-logo {
        display: none;;
    }

    &__black {
        display: none;
    }

    &__logo {
        position: absolute;
        display: none;

        a {
            .header__logo--logo {
                height: 2rem;
            }
        }
    }

    &__buttons {

        position: absolute;
        right: 4rem;
        top: 4rem;

        a {
            text-decoration: none;
            margin-left: 1rem;
            
        }
    }

    @media only screen and (max-width: $tablet-landscape) {
        grid-column: 1/ -1;

        &__logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-top: 4rem;
            margin-left: 4rem;
            
            a:last-child {
                margin-left: 2rem;
            }
        }
    }

    @media only screen and (max-width: $pre-mobile) {

        &__logo {
            
            margin-top: 3rem;
            margin-left: 3rem;

            a {
                img {
                    height: 1rem;
                }
                .header__logo--logo {
                    height: 1.5rem;
                }
            }
        }

        &__buttons {

            right: 3rem;
            top: 3rem;
    
            a {
                img {
                    width: 2rem;
                }
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        &__logo {
            margin-left: 2rem;
            margin-top: 2.25rem;

            &--mobile {
                height: 1rem;
            }
            a {
                .header__logo--logo {  
                    display: none;
                    height: 1.3rem;
                }
            }

            a:first-child::after {
                content: url('../icons/Icon\ search_small.svg');
                position: absolute;
                top: -.45rem;
                left: 2rem;
                width: 50%;
            }
    
        }

        &__buttons {

            position: absolute;
            right: 1.5rem;
            top: 1.7rem;
    
            a {
                text-decoration: none;
                margin-left: 0;
                
                img {
                    height: 2rem;
                }
            }

            a:first-child {
                display: none;
            }
        }
    }


}


@media only screen and (max-width: $tablet-landscape) {
    
    // Sticky
    .sticky {
        position: fixed;
        width: 100%;
        height: 8rem;
        background-color: rgba(255, 255, 255, 0.5);

        .header__white {
            display: none;
        }

        .header__black {
            display: block;
            margin-top: -1rem;

            .header__buttons {
                margin-top: -1rem;
            }
        }

    }
}

@media only screen and (max-width: $mobile) {
    
    // Sticky
    .sticky {
        height: 3.6rem;
        background-color: white;
        .header__black {

            .sticky-mobile-logo {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            
                img {
                    height: 1.5rem;
                }
            }

            a:first-child::after {
                content: url('../icons/Icon\ search_Black_small.svg');
                position: absolute;
                top: -.45rem;
                left: 2rem;
                width: 50%;
            }
        }

    }
}