.home {
    background-image: linear-gradient(rgba($color-landing, 0.7), rgba(black, 0.7)), url('../img/3907c41616c1bdec6a582573b1915b86.jpg');
    background-size: cover;
    background-position: center;

    position: absolute;
    grid-row: 2 / 3;
    grid-column: 2 / -1;


    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, h2 {
        text-align: center;
        width: 65%;
    }

    h1 {
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
    }

    @media only screen and (max-width: $tablet-landscape) {
        h1, h2 {
            width: 90%;
        }
    }
}