.home {
    // background-image: linear-gradient(rgba($color-landing, .8), rgba(black, .8)), url('../img/hugo-boss-black-ss-2012-mark-vanderloo-3.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: absolute;
    grid-row: 2 / 3;
    grid-column: 2 / -1;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mobile-logo {
        display: none;
    }

    h1, h2 {
        font-weight: 100;
        text-align: center;
        width: 65%;
    }

    h1 {
        font-size: 3.8rem;
        margin-bottom: 2rem;
        text-shadow: 0 2px 5px black;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }

    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
    }

    .next-section {
        position: absolute;
        bottom: 3rem;
    }

    @media only screen and (max-width: $tablet-landscape) {
        h1, h2 {
            width: 90%;
        }
    }

    @media only screen and (max-width: $tablet-portrait) {

        height: 46vh;

        h1, h2 {
            width: 90%;
        }
    
        h1 {
            font-size: 3.2rem;
            margin-bottom: 2rem;
        }
    
        h2 {
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    
    }

    @media only screen and (max-width: 490px) {

        h1 {
            font-size: 2.8rem;
        }
    
        h2 {
            font-size: 1.2rem;
        }

    }

    @media only screen and (max-width: $pre-mobile) {

        h1 {
            font-size: 2.8rem;
        }
    
        h2 {
            font-size: 1rem;
        }

    
    }

    @media only screen and (max-width: $mobile) {
        height: 100vh;

        h2 {
            display: none;
        }

        .mobile-logo {
            display: inline-block;
            position: absolute;

            top: 2rem;
            
            img {
                height: 1.5rem;
            }
        }
    }

    @media only screen and (max-height: 650px) {
        height: 100vh;
    }

    // @media only screen and (max-height: 650px) and (max-width: $tablet-portrait) {
    //     h2 {
    //         display: none;
    //     }
    // }

}