#home-id.home {
    .dots {
        margin-left: 90%;
        transform: translateY(-50%);

        .dot {
            height: 8px;
            width: 8px;
            margin: 12px 20px;
            background-color: #fff;
            border-radius: 50%;
            display: block;
          }

          .active {
            transform: scale(2);
            border: 1px solid #fff;
            background: transparent;
          }
    }
    
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }


      @media only screen and (max-width: $tablet-portrait) {
        .dots {
            margin-left: 0;
            margin-top: 8rem;
            transform: translateY(0);
    
            .dot {
                height: 7px;
                width: 7px;
                margin: 10px 8px;
                display: inline-block;
              }
        }
    
    }

    @media only screen and (max-width: $pre-mobile) {
        .dots {
            margin-top: 5rem;
    
            .dot {
                height: 4px;
                width: 4px;
                margin: 5px 4px;
                display: inline-block;
              }
        }
    
    }
}