#ham-nav.sidebar-fullscreen {

    padding-top: 4rem;
    padding-bottom: 4rem;

    position: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;

    // Display top or back
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 2.4rem;

    // Animate here
    transform: translateX(-100%);

    .hamburger-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__left {
            margin-left: 6rem;
        }

        &__right {
            margin-right: 6rem;
        }

        a {
            text-decoration: none;
        }
    }

    .menu {
        
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            li:nth-child(1) {
                margin-bottom: 2rem;
            }

            li:nth-child(5) {
                margin-bottom: 2rem;
            }

            li:nth-child(6) {
                margin-bottom: 2rem;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 1.2rem;

        label {
            margin-top: 2rem;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .newsletter {
            margin-top: 5px;
            position: relative;
        }

        form {
            select {
                color: $color-gray;
                font-family: $font-primary;
                text-transform: uppercase;
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                border: none;
                outline: none;
            }

            input[type="text"] {
                position: relative;
                border: 1px solid $color-gray-mid;
                background-color: transparent;
                color: $color-gray-mid;
                font-family: $font-primary;
                // width: 15rem;
                // height: 2rem;
                padding: .25rem 1rem;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0 .5rem;
                font-size: $font-size-secondary;
                font-family: $font-primary;
                cursor: pointer;
                background-color: $color-gray-mid;
                border: none;
                outline: none;
            }
        }

        .social {
            margin-top: 2rem;
        }
    }
}

