#ham-nav.sidebar-fullscreen {

    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    position: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;

    // Display top or back
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 2.4rem;

    // Animate here
    transform: translateX(-100%);

    .hamburger-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__left {
            margin-left: 4rem;
        }

        &__right {
            margin-top: .5rem;
            margin-right: 4rem;
        }

        a {
            text-decoration: none;
        }
    }

    // Special Mobile Menu
    .special-menu {
        display: none;
    }

    .menu {

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            li:nth-child(1) {
                margin-bottom: 5rem;
            }

            li:nth-child(5) {
                margin-bottom: 5rem;
            }

            li:nth-child(6) {
                margin-bottom: 5rem;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 1.2rem;

        label {
            margin-top: 2rem;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .combo {
            margin-bottom: 3rem;
        }

        .newsletter {
            position: relative;
        }

        form {
            select {
                color: $color-gray;
                font-family: $font-primary;
                text-transform: uppercase;
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                border: none;
                outline: none;
            }

            input[type="text"] {
                position: relative;
                border: 1px solid $color-gray-mid;
                background-color: transparent;
                color: $color-gray-mid;
                font-family: $font-secondary;
                // width: 15rem;
                // height: 2rem;
                padding: .25rem 1rem;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0 .5rem;
                font-size: $font-size-secondary;
                font-family: $font-primary;
                cursor: pointer;
                background-color: $color-gray-mid;
                border: none;
                outline: none;
            }
        }

        .social {
            margin-top: 2rem;
        }
    }

    @media only screen and (max-width: $mobile) {
        font-size: 1.6rem;
        .hamburger-menu {
            margin-top: -2rem;
            &__left {
                a img {
                    height: 1.6rem;
                }

                a:nth-child(2) {
                    position: absolute;
                    left: 50%;
                    top: 1.5rem;
                    transform: translate(-50%, 0);
                }
            }

            &__right {
                margin-top: 0;

                a:not(:first-child) {
                    display: none;
                }
            }
        }

        .special-menu {
            position: absolute;
            margin-top: 1.7rem;
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: gray;
                height: 10rem;
                width: 100%;
                font-size: 1.6rem;
                margin: 1px;

                transition: all .2s;

                h6 {
                    color: white;
                    margin: 0;
                    margin-top: 1.5rem;

                    font-family: $font-secondary;
                }
            }

            a:active {
                background-color: rgb(85, 85, 85);
            }
        }

        .menu {
            margin-top: 12rem;
        }

        .footer .combo {
            margin-bottom: 0;
        }
    }

    @media only screen and (max-height: 800px) {
        .menu {
            ul {
                li:nth-child(1) {
                    margin-bottom: 3rem;
                }
    
                li:nth-child(5) {
                    margin-bottom: 3rem;
                }
    
                li:nth-child(6) {
                    margin-bottom: 3rem;
                }
            }
        }
    }

    @media only screen and (max-height: 720px) {
        .menu {
            ul {
                li:nth-child(1) {
                    margin-bottom: 2rem;
                }
    
                li:nth-child(5) {
                    margin-bottom: 2rem;
                }
    
                li:nth-child(6) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}