$font-size-primary: 1.6rem;
$font-size-secondary: 1.2rem;

.sidebar {
    line-height: 1.6;
    background-color: transparent;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
    position: fixed;
    height: 100vh;
    width: 26rem;
    font-size: $font-size-primary;

    z-index: 100;

    &__container {
        // Centering the sidebar
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .item {
            margin: 10% 0;
        }

        .logo_black {
            display: none;
        }

        ul {
            list-style: none;

            li a {
                text-decoration: none;
                color: $color-gray;
            }
        } 

        .footer {

            font-size: $font-size-secondary;

            a {
                text-decoration: none;
                color: $color-gray;
            }

            .newsletter {
                position: relative;
                margin-top: 30%;
            }

            form {
                select {
                    color: $color-gray;
                    font-family: $font-primary;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: none;
                    font-size: $font-size-secondary;
                    border: none;
                    outline: none;
                }

                input[type="text"] {
                    position: relative;
                    border: 1px solid $color-gray-mid;
                    background-color: transparent;
                    color: $color-gray-mid;
                    font-family: $font-primary;
                    // width: 15rem;
                    // height: 2rem;
                    padding: .25rem 1rem;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 0 .5rem;
                    font-size: $font-size-secondary;
                    font-family: $font-primary;
                    cursor: pointer;
                    background-color: $color-gray-mid;
                    border: none;
                    outline: none;
                }
            }
            
        }
        
    }
}

@media only screen and (max-width: $tablet-landscape) {
    .sidebar {
        display: none;
    }
}