.sidebar {
    background-color: aqua;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    
    position: fixed;
    height: 100vh;
    width: 18%;
    padding: 3rem;
    font-size: 2rem;

    ul {
        list-style: none;

        li a{
            text-decoration: none;
        }
    }
}