.sidebar {
    background-color: transparent;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    
    position: fixed;
    height: 100vh;
    width: 18%;
    font-size: 150%;

    z-index: 10;

    &__container {
        // Centering the sidebar
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        ul {
            list-style: none;

            li a {
                text-decoration: none;
                color: $color-gray;
            }
        } 
    }

}