// Raisa
#home-id.home {
    .dots {
        position: absolute;
        right: 4.5rem;

        .dot {
            height: 6px;
            width: 6px;
            // margin: 12px 20px;
            background-color: #fff;
            display: flex;
            border-radius: 50%;
            margin: 1.3rem 0;
        }

        .active {
            transform: scale(2);
            border: 1px solid #fff;
            background: transparent;
        }
    }
    
      
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
      
    @keyframes fade {
        from {
            opacity: .4
        } 
        to {
            opacity: 1
        }
    }


    @media only screen and (max-width: $tablet-portrait) {
        .dots {
            right: auto;
            bottom: 11.2rem;

            .dot {
                display: inline-block;
                margin: 0 .5rem;
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        .dots {
            .dot {
                margin: 0 .5rem;
            }
        }
    }

    @media only screen and (max-height: 900px) and (max-width: $tablet-portrait) {
        .dots {
            bottom: 7rem;
            .dot {
                height: 5px;
                width: 5px;
                margin: .3rem;
            }
        }
    }

    @media only screen and (max-height: 800px) and (max-width: $tablet-portrait) {
        .dots {
            bottom: 6rem;
            .dot {
                height: 5px;
                width: 5px;
                margin: .3rem;
            }
        }
    }

    @media only screen and (max-height: 700px) and (max-width: $tablet-portrait) {
        .dots {
            bottom: 5.5rem;
            .dot {
                height: 5px;
                width: 5px;
                margin: .3rem;
            }
        }
    }
}