// Raisa
#home-id.home {
    .dots {
        position: absolute;
        right: 2.5rem;

        .dot {
            height: 8px;
            width: 8px;
            margin: 12px 20px;
            background-color: #fff;
            display: flex;
            border-radius: 50%;
            margin: 2.6rem;
        }

        .active {
            transform: scale(2);
            border: 1px solid #fff;
            background: transparent;
        }
    }
    
      
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
      
    @keyframes fade {
        from {
            opacity: .4
        } 
        to {
            opacity: 1
        }
    }


    @media only screen and (max-width: $tablet-portrait) {
        .dots {
            right: auto;
            bottom: 7rem;

            .dot {
                display: inline-block;
                margin: 1rem;
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        .dots {
            .dot {
                margin: .5rem;
            }
        }
    }

    // @media only screen and (max-height: $pre-mobile-h) {
    //     .dots {
    //         bottom: 5rem;
    //     }
    // }

    @media only screen and (max-height: 700px) {
        .dots {
            bottom: 6rem;
            .dot {
                height: 5px;
                width: 5px;
                margin: .3rem;
            }
        }
    }
}